<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Training-exam{% endblock %}</title>
        {% block stylesheets %}
            {# <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous"> #}
            <script src="https://kit.fontawesome.com/504ae21945.js" crossorigin="anonymous"></script>
            <link rel="stylesheet" href="{{ asset('bootstrap/css/bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('styles/style.css') }}">
        {% endblock %}

    </head>
    <body>
        {% include "shared/_navbar.html.twig" %}
        {% include "shared/_alerts.html.twig" %}

        <div class="container">        
            {% block body %}{% endblock %}
        </div>

        {% block javascripts %}
            <script src="{{ asset('bootstrap/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('scripts/main.js') }}"></script>
        {% endblock %}
    </body>
</html>
