{% for type, messages in app.flashes %}
    <div class="alert alert-{{ type }} text-center">
        {% for message in messages %}
            <div>{{ message }}</div>
        {% endfor %}				
    </div>
{% endfor %}